
.marginTop20 {
    margin-top: 20px;
  }
  
  .expenditures {
    margin-top: 30px;
  }
  
  .inputFields {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .field {
    margin-top: 10px;
  }
  .submit {
  }