  .marginTop20 {
    margin-top: 20px;
  }  
  .expenditures {
    margin-top: 10px;
  }
  .input {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .input__error {
    color: red;
  }
  .input__field {
    margin-top: 10px;
  }
  .expenditures__item {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
  }
  .expenditures__item--earned {
    background-color: #a1dfa1;
  }
  .expenditures__item--spent {
    background-color: #e19898;
  }
  .expenditures__edit {
    margin-left:20px;
    cursor: pointer;
  }